body {
	margin: 0;
	padding: 0;
}

div {
	height: 100vh;
	width: 100vw;
	background-image: url(./img/mikkel-bech-yjAFnkLtKY0-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	display: flex;
}

h1 {
	padding: 1rem 2rem;
	background-color: white;
	margin: auto auto;
}

.patern {
	background-size: 100px;
	background-color: coral;
	background-image: url(./img/pattern.svg);
	/* background-repeat: repeat; */
}

.linear {
	height: 200px;
	background-image: linear-gradient(45deg, lightcoral, #875f9a);
}

.radial {
	height: 200px;
	background-image: radial-gradient(circle, blue, green);
}
